PORT= 8000
CONNECTION_URL= mongodb://testmongo99:mongotest1999@ac-difeqaa-shard-00-00.zhx4qhr.mongodb.net:27017,ac-difeqaa-shard-00-01.zhx4qhr.mongodb.net:27017,ac-difeqaa-shard-00-02.zhx4qhr.mongodb.net:27017/hamza?ssl=true&replicaSet=atlas-97runu-shard-0&authSource=admin&retryWrites=true&w=majority&appName=hamzaClustor
API_KEY= 04590f30525bd1491e6131fe331515c5
API_URL= https://api.themoviedb.org/3
API_READ_ACCESSS_TOKEN= eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNDU5MGYzMDUyNWJkMTQ5MWU2MTMxZmUzMzE1MTVjNSIsInN1YiI6IjY2NDFjNDkyMDZiNGIyMzJiNmZiNDA5OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.d85xsFIG1vrY47qWSUYx_d-OfvYGuoGxXZGMqmHut0o